<main class=" hidden relative lg:flex gap-3 bg-sky-200 h-screen w-screen p-3">

  <!-- Sidebar -->
  <div class="w-3/12 bg-sky-100 rounded-xl">
    <app-dashboard />
  </div>
  <!-- Main content -->
  <div class="w-9/12 flex flex-col gap-3 rounded-xl">
    <div class="h-2/12 bg-sky-100 rounded-xl">
      <app-top-section />
    </div>
    <div class="h-10/12 bg-sky-100 rounded-xl">
      @if (isLoggedIn()) {
      <app-main />
      }
      @else {
      <app-signup />
      }
    </div>
  </div>





</main>

<!-- design for mobile view -->

<main class=" flex lg:hidden justify-center items-center p-4 text-center h-screen w-screen font-mono bg-sky-200">
  <p>Your Phone is not Supporting.<br>Sorry...</p>
</main>













<!-- <div class="button-container">
    <button class="{'active': activeButtons['btn1']}" (click)="toggleButton('btn1')">
      Button 1
    </button>
    <button class="{'active': activeButtons['btn2']}" (click)="toggleButton('btn2')">
      Button 2
    </button>
    <button class="{'active': activeButtons['btn3']}" (click)="toggleButton('btn3')">
      Button 3
    </button>
  </div> -->